/* Lets pick colours! */

:root {
  --bg-color: #fff;
  --text-color: #3F3F3D;
  --color-bg-text-color: #fff;
  --highlight-color: #FF6363;
  --headline-color: #3424AC;
  --title-color: #FF6363;
  --primary-button: #FF6363;
  --secondary-button: #fff;
  --link-color: #3424AC;
}

body,
html {
  color: var(--text-color);
  background-color: var(--bg-color);

  /*Declare your font*/
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

.app {
}

section {
  height: auto;
  padding: 20px;
}

/*choose your type heirarchy*/
h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: #2c3e50;
}
h1 {
  font-size: 2rem;
  color: var(--headline-color);
  font-weight: 800;
  font-family: 'Exo', sans-serif;
  max-width: 300px;
}
h2 {
  font-size: 1.5rem;
  color: var(--color-bg-text-color);
  font-family: 'Exo', sans-serif;
  font-weight: 800;
  margin-top: 3rem;
}
h3 {
  font-size: 1.2rem;
  padding: 5px 0 5px 0;
  color: var(--color-bg-text-color);
}
h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--headline-color);
}

b {
  font-weight: 700;
}
i {
  font-style: italic;
}
a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {
  font-size: 1rem;
}

main {
  padding: 10px 0 0 0;
}

.email {
  width: 200px;
  height: 40px;
  border: 1px solid var(--highlight-color);
  border-radius: 5px;
}

.hero {
  background-color: var(--bg-color);
  /* padding-top: 20px; */
  position: relative;
  min-height: calc(400px - 2rem);
}

.hero::after {
  content: '';
  border: 0 solid transparent;
  position: absolute;
  right: 0;
  bottom: -2rem;
  z-index: 1;
  -webkit-transform: rotate(360deg);
  border-bottom-width: 2rem;
  border-left-width: 100vw;
  border-left-color: var(--bg-color);
}

.hero h3 {
  color: var(--text-color);
  padding-top: 20px;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  display: block;
  max-height: 10rem;
  width: auto;
}

.logos {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 400px;
}

.logos img {
  width: auto;
  height: auto;
  padding-left: 0px;
  padding-top: 0px;
}

.logos h4 {
  font-weight: 800;
  font-size: 2rem;
}

.logo {
  width: 150px;
  height: 60px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#lambda-logo {
  padding-top: 10px;
}

#encode-logo {

}

/* .mock-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mock-up img {
  padding: 2rem;
  width: 60vw;
  height: 35vw;
  max-height: 30rem;
} */

.concentrate {
  background-color: var(--headline-color);
  color: var(--color-bg-text-color);
  position: relative;
  min-height: calc(400px - 2rem);
}
/* need to happen on the left */
.concentrate::after {
  content: '';
  border: 0 solid transparent;
  position: absolute;
  right: 0;
  bottom: -2rem;
  z-index: 1;
  -webkit-transform: rotate(360deg);
  border-bottom-width: 2rem;
  border-right-width: 100vw;
  border-right-color: var(--headline-color);
}

.capture {
  background-color: var(--title-color);
  color: var(--color-bg-text-color);
  position: relative;
  min-height: calc(400px - 2rem);
}

.capture::after {
  content: '';
  border: 0 solid transparent;
  position: absolute;
  right: 0;
  bottom: -2rem;
  z-index: 1;
  -webkit-transform: rotate(360deg);
  border-bottom-width: 2rem;
  border-left-width: 100vw;
  border-left-color: var(--title-color);
}

.context {
  background-color: var(--bg-color);
  color: var(--title-color);
}

.context h2 {
  color: var(--headline-color);
}
.context h3 {
  color: var(--headline-color);
}

.context li {
  color: var(--headline-color);
}

.students {
  background-color: var(--headline-color);
  color: var(--color-bg-text-color);
}

.students h2 {
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.signup {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  /* background-color: var(--link-color); */
  padding: 1rem;
  margin-top: 2rem;
}

img {
  display: none;
}

button {
  font-family: 'Exo', sans-serif;
  border-radius: 5px;
  background-color: var(--primary-button);
  height: auto;
  padding: 8px 12px 8px 12px;
  text-align: center;
  color: white;
  margin-top: 20px;
  box-shadow: 2px 2px 4px 0px rgba(73, 103, 255, 0.1), 1px 2px 3px rgba(63, 37, 127, 0.2);
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  text-decoration: none;
}

.secondary {
  background-color: var(--secondary-button);
  color: var(--highlight-color);
}

#mc-embedded-subscribe {
  font-family: 'Exo', sans-serif;
  border-radius: 5px;
  background-color: var(--primary-button);
  height: auto;
  padding: 8px 12px 8px 12px;
  text-align: center;
  color: white;
  margin-top: 20px;
  box-shadow: 2px 2px 4px 0px rgba(73, 103, 255, 0.1), 1px 2px 3px rgba(63, 37, 127, 0.2);
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

ul {
  margin-top: 2rem;
}

.feature {
  display: flex;
  margin: 1rem 0 1rem 0;
}

.icon {
  padding-top: 4px;
  padding-right: 20px;
}

li {

}
/*footer*/
/* footer {
  padding: 1rem;
  text-align: center;
  color: grey;
} */

@media only screen and (min-width: 426px) {
  .app {
  }

  main {
    padding: 10px 0 40px 0;
    margin: 0px;
  }

  h1 {
    max-width: 400px;
  }

  img {
    display:block;
    /* width: 200px; */
    height: auto;
  }

  section {
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
  }

  .responsive-margin {
    min-width: 400px;
    max-width: 651px;
    margin-top: 4rem;
  }

  .hero-info {
    display: flex;
    flex-direction: row-reverse;
  }

  .hero-text {
    max-width: 270px;
    height: auto;
    width: auto;
    padding: 0 0 0 0;
  }

  .hero #hero-img {
    min-height: 248px;
    min-width: 26rem;
  }

  .loogos {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  .logos {
    max-width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logos img {
    width: auto;
    height: auto;
    padding-left: 0px;
    padding-top: 0px;
  }

  .features-left {
    display: flex;
    width: 100%;
    max-height: 33rem;
  }

  .features {
    max-width: 280px;
    min-width: 280px;
  }

  .features-left img {
    height: 270px;
    min-width: 320px;
    max-width: 420px;
    padding: 44px;
  }

  .features-right {
    display: flex;
    flex-direction: row-reverse;
  }

  .features-right img {
    height: 270px;
    min-width: 320px;
    max-width: 420px;
    padding: 44px;
  }

  .capture-titles {
    text-align: right;
  }

  .context img {
    height: 420px;
    padding-bottom: 0px;
  }
}

@media (min-width: 900px) {

}
